@import url(https://fonts.bunny.net/css?family=nunito:200,300,400,500,600,700,800,900);

@tailwind base;
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
@tailwind components;
@tailwind utilities;

main{
    background: radial-gradient(rgba(0,0,0,.025) 6%, transparent 9%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    background-attachment: fixed;
}


